* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*header + logo y menu general*/
.header {
  width: auto;
  background: linear-gradient(38deg, purple, sienna, royalblue, indianred);
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border-bottom: 9px double lightgoldenrodyellow;
}

.logo {
  margin: 30px;
}

img.mqt {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-name: llegalogo;
  animation-name: llegalogo;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border: 5px double;
  border-color: yellow;
  border-radius: 50%;
}

@-webkit-keyframes llegalogo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes llegalogo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.sabemos {
  font-size: 28px;
  color: lightgoldenrodyellow;
  font-family: "Special Elite", cursive;
  text-transform: uppercase;
  text-shadow: 5px 5px 10px ghostwhite;
}

.sabemosTitulos {
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  height: auto;
  width: 100%;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.navbar-nav {
  margin-left: auto;
  padding-bottom: 0px;
  margin-top: 0;
  }


.nav-link {
  font-size: 22px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  font-family: "Special Elite", cursive;
  text-align: center;
  }
  
ul {
  width: 550px;
  flex-wrap: nowrap;
  margin-right: 30px;
  display: flex;
  list-style-type: none;
  }

li {
  display: inline-block;
  width: 200px;
  position: relative;
  font-family: "Special Elite", cursive;
  text-transform: uppercase;
  }

li a {
  text-decoration: none;
  text-align: center;
  color: yellow;
}

li a:hover {
  color: red;
}

ul ul {
  position: absolute;
  display: none;
}

ul ul li {
  display: block;
  background-color: lightgoldenrodyellow;
  width: 100%;
}

ul li:hover ul {
  display: block;
}

.navbar-toggler {
  background-color: yellow;
  border: 1px solid black;
}

/*index main*/
.principal {
  background-image: url(img/puas.JPG);
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  flex-wrap: wrap;
}

.presentacion {
  height: 550px;
  width: 320px;
  padding: 10px;
  background-image: linear-gradient(38deg, purple, sienna, royalblue, indianred);
  background-repeat: no-repeat;
  border: 7px double palevioletred;
  border-radius: 5%;
  text-align: center;
  font-size: 20px;
  font-family: "Special Elite", cursive;
  color: yellow;
  margin-top: 50px;
  margin-left: 0px;
  flex-direction: row;
  overflow: auto;
}

.penta {
  border-radius: 5%;
  border: 3px palevioletred;
  filter: sepia(100%);
}

.novedades {
  height: 600px;
  width: 480px;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 10px;
  background: linear-gradient(38deg, purple, sienna, royalblue, indianred);
  display: flex;
  border: 7px double yellow;
  border-radius: 5%;
  text-align: center;
  font-size: 20px;
  display: inline-block;
  font-family: "Special Elite", cursive;
  color: yellow;
  flex-direction: row;
}

.ofertas {
  height: 600px;
  width: 480px;
  background-image: linear-gradient(38deg, purple, sienna, royalblue, indianred);
  border: 7px double yellow;
  border-radius: 5%;
  text-align: center;
  font-size: 20px;
  font-family: "Special Elite", cursive;
  color: yellow;
  margin-top: 50px;
  margin-bottom: 10px;
}

.img-thumbnail {
  border-radius: 5%;
  border: 3px palevioletred;
  width: 270px;
  height: 300px;
}

#teleimg {
  height: 320px;
  width: 320px;
}

/* Logo de Whatsapp*/
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 8px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

/*contacto main*/
.contact {
  background-image: url(img/telemain.jpg);
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#nombre {
  font-size: 23px;
  font-family: "Special Elite", cursive;
  font-style: italic;
  color: palevioletred;
}

#correo {
  font-size: 23px;
  font-family: "Special Elite", cursive;
  font-style: italic;
  color: palevioletred;
}

#telefono {
  font-size: 23px;
  font-family: "Special Elite", cursive;
  font-style: italic;
  color: palevioletred;
}

#celu {
  color: yellow;
  font-size: 20px;
  text-align: center;
  font-family: "Special Elite", cursive;
  font-style: italic;
}

#alsina {
  color: yellow;
  font-size: 20px;
  text-align: center;
  font-family: "Special Elite", cursive;
  font-style: italic;
}

#gmail {
  color: yellow;
  font-size: 20px;
  text-align: center;
  font-family: "Special Elite", cursive;
  font-style: italic;
}

#formu {
  color: palevioletred;
  text-align: center;
  font-size: 25px;
  font-family: "Special Elite", cursive;
  font-style: italic;
}

.input {
  font-size: 23px;
  font-family: "Special Elite", cursive;
  font-style: italic;
  color: palevioletred;
}

.submit {
  font-size: 23px;
  font-family: "Special Elite", cursive;
  font-style: italic;
  color: palevioletred;
}

.reset {
  font-size: 23px;
  font-family: "Special Elite", cursive;
  font-style: italic;
  color: palevioletred;
}

.textarea {
  font-size: 20px;
  font-family: "Special Elite", cursive;
  font-style: italic;
  color: palevioletred;
}

.text1 {
  font-size: 23px;
  font-family: "Special Elite", cursive;
  font-style: italic;
  font-size: 23px;
  color: palevioletred;
}

.text2 {
  font-size: 23px;
  font-family: "Special Elite", cursive;
  font-style: italic;
  font-size: 23px;
  color: palevioletred;
}

.text3 {
  font-size: 23px;
  font-family: "Special Elite", cursive;
  font-style: italic;
  font-size: 23px;
  color: palevioletred;
}

#redes {
  margin: 30px;
  margin-left: 10px;
  width: 400px;
  height: 600px;
  border-radius: 5%;
  background-image: linear-gradient(38deg, purple, sienna, royalblue, indianred);
  padding: 10px;
  border: 9px double yellow;
  text-align: center;
  font-family: "Special Elite", cursive;
  font-style: italic;
  flex-direction: column;
  flex-wrap: wrap;
}

#map {
  margin: 5px;
}

.form {
  margin: 30px;
  width: 400px;
  height: auto;
  padding: 10px;
  flex-wrap: wrap;
  border-radius: 5%;
  background: linear-gradient(38deg, purple, sienna, royalblue, indianred);
  background-size: cover;
  border: 9px double yellow;
  margin-left: 0px;
  font-family: "Special Elite", cursive;
  font-style: italic;
  text-align: center;
}

/*sobre nosotros main*/
.about {
  background-image: url(img/teletom3.jpg);
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: relative;
  display: flex;
}

.nosotros {
  width: 90%;
  height: auto;
  margin: 20px 30px 20px 30px;
  padding: 30px;
  border-radius: 0;
  float: center;
  font-family: "Special Elite", cursive;
  font-style: italic;
  flex-wrap: wrap;
}

.botton {
  color: yellow;
  border: 7px outset yellow;
  border-radius: 10%;
  background: linear-gradient(38deg, purple, sienna, royalblue, indianred);
}

#parrafonos1 {
  font-size: 26px;
  font-family: "Special Elite", cursive;
  color: yellow;
  text-align: justify;
  position: relative;
}

#parrafonos2 {
  font-size: 26px;
  font-family: "Special Elite", cursive;
  color: yellow;
  text-align: justify;
}

#parrafonos3 {
  font-size: 26px;
  font-family: "Special Elite", cursive;
  color: yellow;
  text-align: justify;
}

#parrafonos4 {
  font-size: 26px;
  font-family: "Special Elite", cursive;
  color: yellow;
  text-align: justify;
}

/*productos main*/
.product {
  background-image: url(img/colors.jpg);
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.gallery {
  margin: 4px;
  margin-left: 7px;
  border: 1px solid #141116;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.desc {
  color: yellow;
  font-family: "Special Elite", cursive;
  font-style: italic;
  font-size: 25px;
}

.foto {
  min-height: 100px;
  min-width: 100px;
  border: linear-gradient(15deg, sienna, lightgoldenrodyellow);
}

.foto:hover {
  transform: scale(1.7);
  transition: 0, 8s;
  filter: sepia(50%);
}

.row {
  background: linear-gradient(38deg, purple, sienna, royalblue, indianred);
  height: auto;
  width: auto;
  border: 2px solid black;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

#t6 {
  width: 200px;
  height: 280px;
  border: 2px double yellow;
}

#t6:hover {
  transform: scale(1.3);
  transition: 0, 8s;
  filter: sepia(30%);
}

#t1 {
  width: 280px;
  height: 280px;
  border: 2px double palevioletred;
}

#t1:hover {
  transform: scale(1.1);
  transition: 0, 8s;
  filter: sepia(30%);
}

#t9 {
  width: 250px;
  height: 250px;
  border: 2px double yellow;
}

#t9:hover {
  transform: scale(1.5);
  transition: 0, 8s;
  filter: sepia(30%);
}

#t2 {
  width: 280px;
  height: 300px;
  border: 2px double palevioletred;
}

#t2:hover {
  transform: scale(1.5);
  transition: 0, 8s;
  filter: sepia(30%);
}

#p12 {
  width: 300px;
  height: 330px;
  border: 2px double yellow;
}

#p12:hover {
  transform: scale(1.3);
  transition: 0, 8s;
  filter: sepia(30%);
}

#t7 {
  width: 280px;
  height: 300px;
  border: 2px double palevioletred;
}

#t7:hover {
  transform: scale(1.3);
  transition: 0, 8s;
  filter: sepia(30%);
}

.tomgallery {
  background: linear-gradient(38deg, purple, sienna, royalblue, indianred);
  width: 100vw;
}

.sabemos3 {
  font-size: 28px;
  color: lightgoldenrodyellow;
  font-family: "Special Elite", cursive;
  text-transform: uppercase;
  text-shadow: 5px 5px 10px ghostwhite;
  text-align: center;
}

/*clases main*/
.clases {
  background-image: url(img/cuerdas.jpg);
  height: 100%;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap: wrap;
  }
  .bloqueClases{
    display: inline-block;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 600px;   
  }
.container-fluid{
  width: 100%;
  }
 
.armonizacion {
  height: 100px;
  width: 50%;
  background: linear-gradient(38deg, purple, sienna, royalblue, indianred);
  margin-top: 30px;
  margin-left: 120px;
  }

.armo {
  font-size: 20px;
  font-family: "Special Elite", cursive;
  text-transform: uppercase;
  color: yellow;
}

.teoria {
  height: 100px;
  width: 50%;
  margin-top: 30px;
  margin-left: 120px;
  background: linear-gradient(38deg, purple, sienna, royalblue, indianred);
}

.teo {
  font-size: 20px;
  font-family: "Special Elite", cursive;
  text-transform: uppercase;
  color: yellow;
}

.lectura {
  height: 100px;
  width: 50%;
  margin-top: 30px;
  margin-left: 120px;
  background: linear-gradient(38deg, purple, sienna, royalblue, indianred);
  }

.lec {
  font-size: 20px;
  font-family: "Special Elite", cursive;
  text-transform: uppercase;
  color: yellow;
}

.rocker {
  height: 100px;
  width: 50%;
  margin-top: 30px;
  margin-left: 120px;
  background: linear-gradient(38deg, purple, sienna, royalblue, indianred);
 }

.rock {
  font-size: 20px;
  font-family: "Special Elite", cursive;
  text-transform: uppercase;
  color: yellow;
} 
/*Video*/

.v1-responsive {
  height: 0;
  overflow: hidden;
  padding-bottom: 50%;
  padding-top: 30px;
  position: relative;
     
}

.v1-responsive iframe, .v1-responsive object, .v1-responsive embed {
  height: 75%;
  left: 0;
  position: absolute;
  top: 0;
  width: 75%;
  margin-left: 120px;
  flex-direction: row;
  border:2px double yellow;
    
}

/*footer*/
.footer {
  background: #141116;
  width: 100%;
  border-top: 9px double lightgoldenrodyellow;
  display: flex;
}

.webs {
  color: lightgoldenrodyellow;
  font-size: 20px;
  text-align: right;
  justify-content: center;
  font-family: "Special Elite", cursive;
  text-shadow: 5px 5px 10px ghostwhite;
  margin-top: 15px;
  margin-left: 40px;
  display: flex;
}

.footred {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  margin-left: 140px;
  margin-top: 15px;
}

.footer ul li a {
  font-family: "Special Elite", cursive;
  font-style: italic;
  display: inline-flex;
  color: yellow;
  font-size: 18px;
  margin-top: 40px;
  display: inline;
}
																				
	
