* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*header + logo y menu general*/
.header {
  height: auto;
  width: auto;
  background: linear-gradient(38deg, purple, sienna, royalblue, indianred);
  display: flex;
  flex-wrap: wrap;
  border-bottom: 9px double lightgoldenrodyellow;
}

.logo {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 35px;
}

img.mqt {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-name: llegalogo;
  animation-name: llegalogo;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border: 5px double;
  border-color: lightgoldenrodyellow;
  border-radius: 50%;
}

@-webkit-keyframes llegalogo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes llegalogo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.nav-link {
  font-size: 20px;
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  font-family: "Special Elite", cursive;
}

/*.active1 {
  background-color: #128ada;
  border-radius: 30%;
}*/
.sabemos {
  margin-top: 90px;
  margin-left: 95px;
  width: auto;
  font-size: 25px;
  color: lightgoldenrodyellow;
  font-family: "Special Elite", cursive;
  text-transform: uppercase;
  text-shadow: 5px 5px 10px ghostwhite;
  flex-wrap: wrap;
  text-align: center;
}

.nav1 {
  justify-content: space-between;
  text-align: center;
  display: flex;
  float: right;
}

ul {
  width: 500px;
  display: inline-block;
  list-style-type: none;
}

li {
  display: inline-block;
  width: 200px;
  position: relative;
  font-family: "Special Elite", cursive;
  text-transform: uppercase;
}

li a {
  text-decoration: none;
  text-align: center;
  color: yellow;
}

li a:hover {
  color: red;
}

ul ul {
  position: absolute;
  display: none;
}

ul ul li {
  display: block;
  background-color: lightgoldenrodyellow;
  width: 100%;
}

ul li:hover ul {
  display: block;
}

/*index main*/
.principal {
  background-image: url(img/puas.JPG);
  height: auto;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*.container {
  background-color: lightgoldenrodyellow;
  background-image: linear-gradient(15deg, sienna, lightgoldenrodyellow);
}*/
.presentacion {
  height: 500px;
  width: 310px;
  padding: 10px;
  background-image: linear-gradient(38deg, purple, sienna, royalblue, indianred);
  background-repeat: no-repeat;
  border: 7px double palevioletred;
  border-radius: 20%;
  text-align: center;
  font-size: 20px;
  font-family: "Special Elite", cursive;
  color: yellow;
  margin: 50px;
  flex-direction: row;
  overflow: auto;
}

.penta {
  border-radius: 20%;
  border: 3px double palevioletred;
  filter: sepia(100%);
}

.novedades {
  height: 560px;
  width: 460px;
  margin: 30px;
  padding: 10px;
  background: linear-gradient(38deg, purple, sienna, royalblue, indianred);
  display: flex;
  border: 7px double yellow;
  border-radius: 20%;
  text-align: center;
  font-size: 20px;
  display: inline-block;
  font-family: "Special Elite", cursive;
  color: yellow;
  flex-direction: row;
}

.ofertas {
  height: 500px;
  width: 310px;
  background-image: linear-gradient(38deg, purple, sienna, royalblue, indianred);
  border: 7px double palevioletred;
  border-radius: 20%;
  text-align: center;
  font-size: 20px;
  font-family: "Special Elite", cursive;
  color: yellow;
  margin: 50px;
}

.img-thumbnail {
  border-radius: 20%;
  border: 3px double palevioletred;
  width: 270px;
  height: 280px;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 8px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

/*contacto main*/
.contact {
  background-image: url(img/telemain.jpg);
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: absolute;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

#nombre {
  font-size: 23px;
  font-family: "Special Elite", cursive;
  font-style: italic;
  color: palevioletred;
}

#correo {
  font-size: 23px;
  font-family: "Special Elite", cursive;
  font-style: italic;
  color: palevioletred;
}

#telefono {
  font-size: 23px;
  font-family: "Special Elite", cursive;
  font-style: italic;
  color: palevioletred;
}

#celu {
  color: yellow;
  font-size: 20px;
  text-align: center;
  font-family: "Special Elite", cursive;
  font-style: italic;
}

#alsina {
  color: yellow;
  font-size: 20px;
  text-align: center;
  font-family: "Special Elite", cursive;
  font-style: italic;
}

#gmail {
  color: yellow;
  font-size: 20px;
  text-align: center;
  font-family: "Special Elite", cursive;
  font-style: italic;
}

#formu {
  color: palevioletred;
  font-size: 20px;
  text-align: center;
  font-family: "Special Elite", cursive;
  font-style: italic;
}

.input {
  font-size: 23px;
  font-family: "Special Elite", cursive;
  font-style: italic;
  color: palevioletred;
}

.submit {
  font-size: 23px;
  font-family: "Special Elite", cursive;
  font-style: italic;
  color: palevioletred;
}

.reset {
  font-size: 23px;
  font-family: "Special Elite", cursive;
  font-style: italic;
  color: palevioletred;
}

.textarea {
  font-size: 20px;
  font-family: "Special Elite", cursive;
  font-style: italic;
  color: palevioletred;
}

.text1 {
  font-size: 23px;
  font-family: "Special Elite", cursive;
  font-style: italic;
  font-size: 23px;
  color: palevioletred;
}

.text2 {
  font-size: 23px;
  font-family: "Special Elite", cursive;
  font-style: italic;
  font-size: 23px;
  color: palevioletred;
}

.text3 {
  font-size: 23px;
  font-family: "Special Elite", cursive;
  font-style: italic;
  font-size: 23px;
  color: palevioletred;
}

#redes {
  margin: 30px;
  margin-left: 300px;
  width: 400px;
  height: 600px;
  background-image: linear-gradient(38deg, purple, sienna, royalblue, indianred);
  padding: 10px;
  border: 9px double yellow;
  text-align: center;
  font-family: "Special Elite", cursive;
  font-style: italic;
}

.form {
  width: 37, 8em;
  height: 600px;
  padding: 10px;
  display: block;
  background: linear-gradient(38deg, purple, sienna, royalblue, indianred);
  background-size: cover;
  border: 9px double yellow;
  background-position: center;
  margin: 30px;
  font-family: "Special Elite", cursive;
  font-style: italic;
}

/*sobre nosotros main*/
.about {
  background-image: url(img/teletom3.jpg);
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: relative;
  display: flex;
}

.nosotros {
  width: 90%;
  height: auto;
  margin: 20px 30px 20px 30px;
  padding: 30px;
  /*background: linear-gradient(38deg, purple, sienna, royalblue, indianred);*/
  /*border: 7px double rgb(20, 17, 22);*/
  border-radius: 0;
  float: center;
  font-family: "Special Elite", cursive;
  font-style: italic;
  flex-wrap: wrap;
}

.botton {
  color: yellow;
  border: 7px outset yellow;
  border-radius: 10%;
  background: linear-gradient(38deg, purple, sienna, royalblue, indianred);
}

#parrafonos1 {
  font-size: 26px;
  font-family: "Special Elite", cursive;
  color: yellow;
  text-align: justify;
  position: relative;
}

#parrafonos2 {
  font-size: 26px;
  font-family: "Special Elite", cursive;
  color: yellow;
  text-align: justify;
}

#parrafonos3 {
  font-size: 26px;
  font-family: "Special Elite", cursive;
  color: yellow;
  text-align: justify;
}

#parrafonos4 {
  font-size: 26px;
  font-family: "Special Elite", cursive;
  color: yellow;
  text-align: justify;
}

/*productos main*/
.product {
  background-image: url(img/colors.jpg);
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.gallery {
  margin: 4px;
  margin-left: 7px;
  border: 1px solid #141116;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.desc {
  color: yellow;
  font-family: "Special Elite", cursive;
  font-style: italic;
  font-size: 25px;
}

/*.guitars {
  width: 96%;
  background: linear-gradient(38deg, purple, sienna, royalblue, indianred);
  height: 500px;
  border: 7px double;
  border-color: rgb(20, 17, 22);
  margin: auto;
  padding: 3px;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 300px 300px 300px 300px;
  justify-content: center;
}*/
.foto {
  min-height: 100px;
  min-width: 100px;
  border: linear-gradient(15deg, sienna, lightgoldenrodyellow);
}

.foto:hover {
  transform: scale(1.7);
  transition: 0, 8s;
  filter: sepia(50%);
}

/*.guitarra1 {
  background-image: url(img/guitarra1.jpg);
  background-size: cover;
  color: palevioletred;
}

.guitarra2 {
  background-image: url(img/guitarra2.jpg);
  background-size: cover;
  color: palevioletred;
}

.guitarra3 {
  background-image: url(img/guitarra3.jpg);
  background-size: cover;
  color: palevioletred;
}

.guitarra4 {
  background-image: url(img/guitarra4.jpg);
  background-size: cover;
  color: palevioletred;
}*/
/*clases main*/
.clases {
  background-image: url(img/cuerdas.jpg);
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.armonizacion {
  height: 100px;
  width: 210px;
  background: linear-gradient(38deg, purple, sienna, royalblue, indianred);
  margin: 30px;
}

.armo {
  font-size: 20px;
  font-family: "Special Elite", cursive;
  text-transform: uppercase;
  color: palevioletred;
}

.teoria {
  height: 100px;
  width: 210px;
  margin: 30px;
  background: linear-gradient(38deg, purple, sienna, royalblue, indianred);
}

/*border: 9px double rgba(100, 68, 68, 0.473);
text-align: center;*/
.teo {
  font-size: 20px;
  font-family: "Special Elite", cursive;
  text-transform: uppercase;
  color: yellow;
}

.lectura {
  height: 100px;
  width: 210px;
  margin: 30px;
  background: linear-gradient(38deg, purple, sienna, royalblue, indianred);
}

.lec {
  font-size: 20px;
  font-family: "Special Elite", cursive;
  text-transform: uppercase;
  color: yellow;
}

.rocker {
  height: 100px;
  width: 210px;
  margin: 30px;
  background: linear-gradient(38deg, purple, sienna, royalblue, indianred);
}

.rock {
  font-size: 20px;
  font-family: "Special Elite", cursive;
  text-transform: uppercase;
  color: palevioletred;
}

.v1 {
  padding-left: 500px;
  padding-top: 50px;
}

.v2 {
  flex-direction: row;
  padding-left: 500px;
  padding-top: 400px;
  display: inline-block;
  position: relative;
}

/*footer*/
.footer {
  background: #141116;
  /* background: linear-gradient(30deg, purple, sienna, royalblue, indianred);*/
  width: 100%;
  border-top: 9px double lightgoldenrodyellow;
  display: flex;
}

.webs {
  color: lightgoldenrodyellow;
  font-size: 20px;
  text-align: right;
  justify-content: center;
  font-family: "Special Elite", cursive;
  text-shadow: 5px 5px 10px ghostwhite;
  margin-top: 15px;
  margin-left: 40px;
  display: flex;
}

.footred {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  margin-left: 140px;
  margin-top: 15px;
}

.footer ul li a {
  font-family: monospace;
  font-style: italic;
  display: inline-flex;
  color: yellow;
  font-size: 18px;
  margin-top: 40px;
  display: inline;
}/*# sourceMappingURL=estilos.css.map */